body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-image: url("https://media.istockphoto.com/id/599141666/photo/sunflowers-on-wooden-background.jpg?b=1&s=170667a&w=0&k=20&c=XoInhA1mpQZqaStmhdidrwS5wT9Tre0WlUyLZ5kKDZ4=");
    background-repeat: no-repeat;
    background-size: cover;
}

.calendar-container {
    background-color: whitesmoke;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0,0,0,.3);
    overflow: hidden;
}

.month-name {
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.day-name {
    font-size: 20px;
    color: darkgray;
}

.day-number{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

.year {
    margin: 20px 0;
    font-size: 20px;
    color: darkgray;
    font-weight: 500;
}